<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <div class="row mt-4">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jeremy.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h3 class="text-center">Jeremy Oglesby</h3>
      <p>
        This <em>Parks & Rec</em> quote splurting app was built by <a target="_blank" href="https://github.com/jmoglesby">Jeremy Oglesby</a>, a fan of <em>Parks & Rec</em>, and a self-taught web developer with experience in ruby, rails, and react.
      </p>
    </div>
  </div>

  <br />

  <p class="text-muted font-weight-thin small-text float-right">
    ...check out some of my other work <a target="_blank" href="https://jeremy.oglesby.life">here</a> and <a target="_blank" href="https://jeremyoglesby.netlify.com">here</a>
  </p>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />