<h5>
  <span>SPLURTY / No. <%= @quote.id %> </span>
  &nbsp;&nbsp;
  Some more <em>Parks & Rec</em> goodness...
</h5>

<h2>
  <span class="text-muted">" </span>
  <%= @quote.saying %>
  <span class="text-muted"> "</span>
</h2>
<h4 class="float-right text-muted"> - <%= @quote.author %></h4>

<br class="clear" />
<br />
<br />
<br />